* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Textrutan med knappar */
.textruta {
  max-width: 550px;
  min-height: 100px;
  max-height: 400px;
  background-color: aliceblue;
  margin-top: 10vh;
  margin-left: 80vh;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: verdana;
}

.container {
}
